
#main{
    justify-content: center;
    height: 300px;
    width: 500px;
    border: 2px solid white;
    border-radius: 40px;
    background-color: skyblue;
    
}
h2{
    text-decoration: underline;
    text-align: center;
    
}

.one {
    border: 1px solid black;
    border-radius: 10px;
    
}
 .two{
    border: 1px solid black;
    border-radius: 10px;

 }

 .three{
    border: 1px solid black;
    border-radius: 10px;
    
 }


 button{
    text-align: center;
    border-radius: 20px;
    border-color: black;
 }
  #but {
    display: flex;

    justify-content: space-evenly;
  }

  body{
    display: flex;
    justify-content: center;
    background-color: goldenrod;
   }

   #sumbit:hover {
    background-color:  goldenrod;
   }

   #arrow {
     height: 30px;
     width: 30px;
     padding-right: 50px;
   }
 
   table {
    padding-left: 80px;
   }

   #customCategoryInput {
    border: 1px solid black;
    border-radius: 10px;
   }


