
a{
    text-decoration: none;
    color: black;
}
   

#forall {
    display: flex;
    /* height: 20px;
    width: 500px; */
    justify-content: space-around;
    text-align: center;
    
    
}

#in {
    height: 40px;
    width: 150px;
    background-color: bisque;
    border-radius: 20px;
    

}

#ex {
    height: 40px;
    width: 150px;
    background-color: bisque;
    border-radius: 20px;
    

}

#summ {
    height: 40px;
    width: 150px;
    background-color: bisque;
    border-radius: 20px;

}

#main{
    background-color: skyblue;
    border: 2px solid white;
    border: 2px solid: white;
    border-radius: 40px;
    height: 500px;
    width: 700px;
}
h1{
    text-align: center;
    text-decoration: underline;
} 
img {
    height: 60px;
    width: 60px;
    background-color: skyblue;
    
}
body {
    background-color: goldenrod;
    display: flex;
    justify-content: center;
    
    

} 




