img {
    height: 200px;
    width: 200px;
    padding-left: 50px;
}
#main{
    display: flex;
    justify-content: center;
    height: 500px;
    width: 500px;
    border: 2px solid white;
    border-radius: 40px;
    background-color: skyblue;
}
h2 {
    text-align: center;
    text-decoration: underline;
}


#link{
   display: flex;
   justify-content: space-around;
}

#one{
    border: 2px solid white;
    border-radius: 10px;
    background-color: aliceblue;
}
#two{
    border: 2px solid white;
    border-radius: 10px;
    background-color: aliceblue;
}
a{
    text-decoration: none;
    color: black;
}

body{
    display: flex;
    justify-content: center;
    background-color: goldenrod;
   }

   .a{
    border: 2px solid white;
    border-radius: 40px;
    opacity: 1;
   }

   .b{
    border: 2px solid white;
    border-radius: 40px;
    opacity: 1;
   }

   .c{
    border: 2px solid white;
    border-radius: 40px;
    opacity: 1;
   }

   .d{
    border: 2px solid white;
    border-radius: 40px;
    opacity: 1;
   }

   .e{
    border: 2px solid white;
    border-radius: 40px;
    opacity: 1;
   }